.rotate180 {
  transform: rotateX(180deg);
}

.ant-tabs > .ant-tabs-content-holder > .ant-tabs-content {
  background: #fff;
  padding: 16px;
}

.grid-container {
  padding-top: 16px;
  overflow: auto;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    'video-wrapper video-wrapper video-wrapper video-wrapper menu'
    'video-wrapper video-wrapper video-wrapper video-wrapper menu'
    'info info info info menu'
    'tabs tabs tabs tabs none';
}

.video-wrapper {
  grid-area: video-wrapper;
  position: relative;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu {
  grid-area: menu;
  width: 100%;
  /* height: 100%; */
  min-height: 150px;
  min-width: 166px;
  padding-bottom: 20px;
  background: #fafafa;
  border-radius: 10px;
  overflow-y: scroll;
}

.menu-wrapper {
}

.menu-header {
  width: 90%;
  margin: 10px auto 15px;
}

.menu-header h1 {
  font-size: 1.2rem;
}

.menu .menu-content {
}

.info {
  grid-area: info;
  /* background-color: chocolate; */
  background-color: #fafafa;
  border-radius: 10px;
}

.tabs {
  background-color: rgb(94, 167, 145);
  grid-area: tabs;
  height: 600px;
  text-align: center;
  line-height: 600px;
  color: white;
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-areas:
      'video-wrapper'
      'info'
      'menu'
      'tabs';
  }
}
