.customcard  {
  width: 80%;
  height: 80%;
  padding: 10px;
}

.commentcard{
    max-height: 200px;
    overflow-y: scroll;
}
.dis{
  max-height: 300px;
  overflow-y: scroll;
}

.container{
  margin: 10px;
  align-items: center;
  align-content: center;
}
.txt{
  width: 80%;
  height: 80%;
  padding: 10px;
  position: relative;
  float: left;
}
.deleteButton{
  position: relative;
  float: right;
}