.custom-card  {
  width: 80%;
  height: 80%;
  padding: 10px;
  max-height: 500px;
  overflow-y: scroll;
  margin-top: 30px;
}

.container{
  margin: 10px;
}
.txt{
  width: 80%;
  height: 80%;
  padding: 10px;
  position: relative;
  float: left;
}
.deleteButton{
  position: relative;
  float: right; 
}